.Grammar_Detail {
    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: lightgoldenrodyellow;
    
}

.Grammar_Detail .Grammar_Detail_Header {
    top: 0px;
    width: 100%;
    height: 150px;
    bottom: 0px;
    left: 0px;
    
}

.Grammar_Detail .Dock_Notification {
   
   
    margin-top: 20px;
    width: 45%;
    height: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 50px 50px 0;
            padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: gray;
}
.Page_Title{
    border-radius: 20px 20px 0 0;
    background-color: aqua;
}
.Grammar_Detail .Grammar_Detail_Main_Port {
    top: 100px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    background-repeat: no-repeat;
    padding-top: 0px;
    border: 1px solid #c4c4c4;
    border-radius: 20px !important;
    background-color: aqua;
}
.Grammar_Detail_Title{
    margin-top: 50px ;
}
.Grammar_Detail .Grammar_Detail_Content {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    top: 0px;
    width: 92%;
    height: fit-content;
    padding-bottom: 10px;
    background-color: aqua;
    border-radius: 20px;
}
.Grammar_Detail_Content{
    margin-bottom: 50px;
}

.Grammar_Detail .Grammar_Detail_Footer {
    margin-top: 20px;
    top: 270px;
    position: relative;
    bottom: 0px;
    height: 10%;
    width: 100%;
    border-radius: 20px;
}

.Grammar_Detail .Grammar_Detail_Description {
    position: relative;
    height: fit-content;
    left: 4%;
    width: 92%;
    background-color: aqua;
    border-radius: 20px;
    
}

.Grammar_Detail .Grammar_Detail_Content .Below_Border {
    position: relative;
    width: 100%;
    height: 10px;
    background: ffffff;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    
    
}    /* Validate input before processing */
    /* Handle async operation error */
